<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$ - Francis St-Amour</title>
        <script src="/static/jquery.min.js""></script>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/default.css" />
        <link rel="stylesheet" type="text/css" href="/static/syntax.css" />
        <link rel='alternate' type='application/atom+xml' title='Atom Feed' href='/atom.xml'>
    </head>
    <body>
        <div id="content">
            $body$
        </div>
        <div id="footer">
          <div class="right">
            Site source is at <a href="https://github.com/mpsyco/mpsyco.github.com">GitHub</a>,
            and uses <a href="http://jaspervdj.be/hakyll">Hakyll</a>.
          </div>
        </div>
    </body>
</html>
